#catalogue {
    background-color: #000;
    color: #f2f3f5;
    display: flex;
    max-height: 1080px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Karla', sans-serif; 
}